---
---

<!-- Main modal -->
<div
    id="entry-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div
            class="relative bg-secondary-900 rounded-lg shadow dark:bg-gray-700"
        >
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
            >
                <h3 class="text-lg font-semibold text-text-200 dark:text-white">
                    Submit Lap Time
                </h3>
                <!-- <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-text-200 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="entry-modal"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button> -->
            </div>
            <!-- Modal body -->
            <form id="entry-form" method="post" class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label
                            for="name"
                            class="block mb-2 text-sm font-medium text-text-200 dark:text-white"
                            >Name</label
                        >
                        <input
                            type="text"
                            name="name"
                            id="name"
                            class="bg-gray-50 border border-gray-300 text-text-200 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="John Doe"
                            required="true"
                        />
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="time"
                            class="block mb-2 text-sm font-medium text-text-200 dark:text-white"
                            >Lap Time</label
                        >
                        <div class="flex">
                            <input
                                type="time"
                                id="time"
                                class="bg-gray-50 border leading-none border-gray-300 text-text-200 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                min="00:00"
                                max="59:59"
                                required
                            />
                        </div>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="num_laps"
                            class="block mb-2 text-sm font-medium text-text-200 dark:text-white"
                            >Number of Laps</label
                        >
                        <input
                            type="number"
                            name="num_laps"
                            id="num_laps"
                            class="bg-gray-50 border border-gray-300 text-text-200 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="3"
                            required="true"
                        />
                    </div>
                    <div class="col-span-2">
                        <label
                            for="email"
                            class="block mb-2 text-sm font-medium text-text-200 dark:text-white"
                            >E-Mail (optional)</label
                        >
                        <input
                            type="text"
                            name="email"
                            id="email"
                            class="bg-gray-50 border border-gray-300 text-text-200 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="John.Doe@me.com"
                        />
                    </div>
                </div>
                <button
                    type="submit"
                    class="text-text-200 inline-flex items-center bg-accent-600 hover:bg-accent-800 focus:ring-4 focus:outline-none focus:ring-accent-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    <svg
                        class="me-1 -ms-1 w-5 h-5"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            fill-rule="evenodd"
                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                            clip-rule="evenodd"></path></svg
                    >
                    Add new lap time record
                </button>
            </form>
        </div>
    </div>
</div>
