---
import SimpleCard from "./simple-cards/simple-card.astro"
import FullscreenCard from "./simple-cards/fullscreen-card.astro"
---

<section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <FullscreenCard />
        <div class="grid md:grid-cols-2 gap-8">
            <SimpleCard />
            <SimpleCard />
        </div>
    </div>
</section>
