---
import TransparentBlurCard from "../../components/cards/transparent-blur-card.astro";
---
<div class="justify-center content-center justify-items-center items-center">
    <TransparentBlurCard class:list={['h-3/6', 'w-3/6']}>
        <slot/>
    </TransparentBlurCard>
</div>