---
import CardJumbotron from "../components/cards/card-jumbotron.astro";
import SimpleCard from "../components/cards/simple-cards/simple-card.astro";
import Hero from "../components/hero.astro";
import HomeLayout from "../layouts/homeLayout.astro";

const title = "E2E-Player #2";
---

<HomeLayout>
    <section class="relative z-10" slot="hero">
        <Hero />
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:px-6">
            <SimpleCard>
                <h2
                    slot="title"
                    class="mb-4 text-2xl font-bold tracking-tight leading-none text-text-200 md:text-3xl lg:text-4xl"
                >
                    Try beating our AI at our booth
                </h2>
                <p slot="text" class="text-xl font-semibold text-text-200 mb-4">
                    First place at the end of the day wins a <span
                        class="text-transparent bg-clip-text bg-gradient-to-tl to-accent-700 from-accent-400"
                        >E2E-Player #2 - T-Shirts</span
                    >
                </p>
            </SimpleCard>
        </div>
    </section>
    <section slot="content">
        <CardJumbotron />
    </section>
</HomeLayout>
