---
import CardJumbotron from "../components/cards/card-jumbotron.astro";
import SimpleCard from "../components/cards/simple-cards/simple-card.astro";
import Hero from "../components/hero.astro";
import HomeLayout from "../layouts/homeLayout.astro";

const title = "E2E-Player #2";
---

<HomeLayout>
    <section class="relative z-10" slot="hero">
        <Hero />
    </section>
    <section slot="content">
        <CardJumbotron />
    </section>
</HomeLayout>
