---
import TeamLayout from "../layouts/teamLayout.astro";
import Hero from "../components/hero.astro";
import Grid from "../components/team/grid.astro";
import { Fragment } from "astro/jsx-runtime";

const title = "E2E-Player #2 | Team";
---
<TeamLayout>
    <!-- <Hero>
        <div slot="title">E2E-Player #2 Team</div>
        <div slot="subtitle">Hier findet ihr informationen zu uns:</div>
    </Hero> -->
    <Grid />
</TeamLayout>