---
const { title } = Astro.props;
---

<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
      </div>
      <!-- <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div> -->
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/team" class="text-sm font-semibold leading-6 text-gray-900">Team</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Leaderboard</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <!-- <div class="lg:hidden" role="dialog" aria-modal="true">
      Background backdrop, show/hide based on slide-over state.
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-x divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
            </div>
            <div class="py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </header>
<!-- 
<nav class="fixed top-0 w-full h-24 flex flex-row box-border z-10 py-0 px-8">
    <div class="menu">
        <div
            class="flex text-text flex-row place-content-evenly content-center gap-10 w-48"
        >
            <a href="/team">
                <span>Team</span>
            </a>
            <a href="/aufgabe">
                <span>Aufgabe</span>
            </a>
        </div>
        <div class="text-text h-24 w-64 content-center">
            <div class="text-segoe font-bold text-5xl">
                <a href="#" class="nav-a">
                    <span class="nav-a-letters">
                        <span class="nav-a-letter">E</span>
                        <span class="nav-a-letter">2</span>
                        <span class="nav-a-letter">E</span>
                        <span class="nav-a-letter">-</span>
                        <span class="nav-a-letter">P</span>
                        <span class="nav-a-letter">l</span>
                        <span class="nav-a-letter">a</span>
                        <span class="nav-a-letter">y</span>
                        <span class="nav-a-letter">e</span>
                        <span class="nav-a-letter">r</span>
                        <span class="nav-a-letter">&nbsp;</span>
                        <span class="nav-a-letter">#</span>
                        <span class="nav-a-letter">2</span>
                    </span>
                    <span class="nav-a-stripe nav-a-stripe--accents"> </span>
                    <span class="nav-a-stripe nav-a-stripe--accents-2"> </span>
                    <span class="nav-a-stripe nav-a-stripe--secondary"> </span>
                    <span class="nav-a-letters-top">
                        <span class="nav-a-letter">E</span>
                        <span class="nav-a-letter">2</span>
                        <span class="nav-a-letter">E</span>
                        <span class="nav-a-letter">-</span>
                        <span class="nav-a-letter">P</span>
                        <span class="nav-a-letter">l</span>
                        <span class="nav-a-letter">a</span>
                        <span class="nav-a-letter">y</span>
                        <span class="nav-a-letter">e</span>
                        <span class="nav-a-letter">r</span>
                        <span class="nav-a-letter">&nbsp;</span>
                        <span class="nav-a-letter">#</span>
                        <span class="nav-a-letter">2</span>
                    </span>
                </a>
            </div>
        </div>

        <h1 class="text-text text-4xl h-24 w-64 content-center">
            E2E-Player #2
        </h1> -->
        <!-- <div
            class="flex text-text flex-row place-content-evenly content-center gap-10 w-48"
        >
            <a href="/about">
                <span>About</span>
            </a>
            <a href="/leaderboard">
                <span>Leaderboard</span>
            </a>
        </div>
    </div>
    <div class="backdrop"></div> -->
<!-- </nav> -->
<!-- 
<style>
    .nav-li + .nav-li {
        margin-top: 1rem;
    }

    a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-a {
        display: inline-block;
        position: relative;
        transition: 0.4s linear color;
    }

    .nav-a-letters {
        display: flex;
    }

    @media (hover: hover) and (pointer: fine) {
        .nav-a > * {
            pointer-events: none;
        }
    }

    .nav-a-stripe {
        position: absolute;
        background-color: #ff6600;
        width: calc(100% + 0.075em);
        left: 0;
        top: 0.55em;
        height: 0.15em;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.8s cubic-bezier(0.4, 0, 0, 1);
    }

    .nav-a-stripe--accents {
        background-color: rgb(34, 112, 30);
        transition-delay: 0.1s;
    }

    @media (hover: hover) and (pointer: fine) {
        .nav-a:hover .nav-a-stripe {
            transform-origin: left;
            transform: scaleX(1);
        }
        .nav-a:hover .nav-a-stripe--accents {
            transition-delay: 0s;
        }
    }

    .nav-a-stripe--accents-2 {
        background-color: #ec9155;
        transition-delay: 50ms;
    }

    @media (hover: hover) and (pointer: fine) {
        .nav-a:hover .nav-a-stripe--accents-2 {
            transition-delay: 50ms;
        }
        .nav-a:hover .nav-a-stripe--secondary {
            transition-delay: 0.1s;
        }
    }

    .nav-a-letters-top {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
    }

    .nav-a-letter {
        display: block;
        will-change: transform, opacity;
    }

    .nav-a-letters .nav-a-letter:nth-child(odd) {
        opacity: 0;
    }

    .nav-a-letters-top .nav-a-letter:nth-child(even) {
        opacity: 0 !important;
    }

    .menu {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;
        z-index: 5;
        font-size: var(--h);
    }

    .backdrop {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        opacity: 1;

        /*  where the real magic happens  */
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);

        background: rgba(225, 225, 225, 0.05);

        mask-image: linear-gradient(
            rgb(0, 0, 0) 50%,
            rgba(0, 0, 0, 0.8) 70%,
            rgba(0, 0, 0, 0) 100%
        );

        -webkit-mask-image: linear-gradient(
            rgb(0, 0, 0) 50%,
            rgba(0, 0, 0, 0.8) 70%,
            rgba(0, 0, 0, 0) 100%
        );
        inset: -1rem 0;
    }
</style> -->
