---
const { title } = Astro.props;
---

<nav class="fixed top-0 w-full h-24 flex flex-row box-border py-0 px-8">
    <div class="menu">
        <div
            class="flex text-text flex-row place-content-evenly content-center gap-10 w-48"
        >
            <h3>Team</h3>
            <h3>Aufgabe</h3>
        </div>
        <h1 class="text-text text-4xl h-24 w-64 content-center">
            E2E-Player #2
        </h1>
        <div
            class="flex text-text flex-row place-content-evenly content-center gap-10 w-48"
        >
            <h3>Sache nr3</h3>
            <h3>About</h3>
        </div>
    </div>
    <div class="backdrop"></div>
</nav>

<style>
    .menu {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;
        z-index: 5;
        font-size: var(--h);
    }

    .backdrop {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        opacity: 1;

        /*  where the real magic happens  */
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);

        background: rgba(225, 225, 225, 0.05);

        mask-image: linear-gradient(
            rgb(0, 0, 0) 50%,
            rgba(0, 0, 0, 0.8) 70%,
            rgba(0, 0, 0, 0) 100%
        );

        -webkit-mask-image: linear-gradient(
            rgb(0, 0, 0) 50%,
            rgba(0, 0, 0, 0.8) 70%,
            rgba(0, 0, 0, 0) 100%
        );
        inset: -1rem 0;
    }
</style>
