@layer base {
    :root {
        --text: #17110d;
        --background: #f7e8df;
        --primary: #6f462a;
        --secondary: #ff6600;
        --accent: #aa4f13;
    }

    .dark {
        --text: #f2ece8;
        --background: #1f1108;
        --primary: #d5ac90;
        --secondary: #ff6600;
        --accent: #ec9155;
    }
/* Our Engine button default styles */
    #startStopButton {
        width: 80px; 
        height: auto;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                    0 1px 3px rgba(0, 0, 0, 0.08); 
    }
    /* To make our button hover */
    #startStopButton:hover {
        transform: translateY(-2px); 
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2),
                    0 4px 6px rgba(0, 0, 0, 0.1);
    }
    /* To make our engine button to be pushed down */
    #startStopButton:active {
        transform: translateY(2px); 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    }
}
