---
const { title, gradient, overrideHeader } = Astro.props;
import Header from "../components/header.astro";
import EntryModal from "../components/leaderboard/entry-modal.astro";
import Navigation from "../components/navigation.astro";
import Footer from "../components/footer.astro";
import "@fontsource/poppins";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/icons/e2e.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-background-950">
        <div
            class="bg-[url('/dddepth-289.jpg')] bg-cover bg-center bg-no-repeat min-h-screen"
        >
            {!overrideHeader && <Header />}    
            <Navigation />
            <EntryModal />
            <slot />
            <div class="h-12">
            </div>
            <script
                is:inline
                src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
            ></script>
        </div>
        {
            gradient && (
                <div class="bg-gradient-to-b from-background-700 to-transparent dark:from-blue-900 w-full h-3/6 absolute top-0 left-0 z-0" />
            )
        }
    </body>
</html>
