---
import SiteLayout from "./siteLayout.astro";
import Header from "../components/header.astro";
---

<SiteLayout title="E2E-Player #2 | Team" gradient>
    <div class="relative z-20">
        <!-- <Header /> -->
        <slot />
    </div>
</SiteLayout>
